doctype xhtml
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    include head.pug
  body
    include header.pug
    .wrapper
      include sidebar.pug
      .contents
        .section
          include:markdown-it(html=true,xhtmlOut=true) articles/welcome.md
        .section
          include:markdown-it(html=true,xhtmlOut=true) articles/contact.md
        .section
          include:markdown-it(html=true,xhtmlOut=true) articles/news.md
        .section
          include:markdown-it(html=true,xhtmlOut=true) articles/about.md
        .section
          include:markdown-it(html=true,xhtmlOut=true) articles/schedule.md
  include foot.pug
